/*Palette:

TExt: FFFFFF
Primary background: 202020
Secondaries: D5D5D5 (light), 7A7A7A (darker), 595A7F (medium)

*/
html{
  font-family: Ariel, sans-serif;
  background-color: #202020;
}

body{
  width: 50%;
  margin: auto;
  color: white;
  font-size: 1em;
}

h1{
  font-family: 'Lucida Bright', Georgia, serif;
  font-weight: 500;
  padding: .5em;
}

h2{
  font-family: 'Lucida Bright', Georgia, serif;
  font-weight: 500;
}

a{
  color: white;
  text-decoration: none;
}

a:hover, .tab-nav li:hover{
  color: #595A7F;
}

img{
  max-width: 100%;
}

/*I'll split these into better places when I have an actual mouse*/
@media (min-width:650px){
  h1{
    width: 60%;
    text-align: center;
    margin:auto;
  }
}

@media (min-width: 1000px) {
  h1{
    width: 100%;
    text-align: left;
  }
}
