/*Palette:

TExt: FFFFFF
Primary background: 202020
Secondaries: D5D5D5 (light), 7A7A7A (darker), 595A7F (medium)

*/
html{
  font-family: Ariel, sans-serif;
  background-color: #202020;
}

body{
  width: 50%;
  margin: auto;
  color: white;
  font-size: 1em;
  text-align:center;
}

h1, h2, h3{
  font-family: 'Lucida Bright', Georgia, serif;
  font-weight: 500;
}

h1{
  padding: .5em;
}

h3{
  font-weight: 600;
}

a{
  color: white;
  text-decoration: none;
}

a:hover, .tab-nav li:hover{
  color: #595A7F;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  padding: 0.5em 0.8em;
}

.icon-plus, .icon-minus{
  padding: 1%;
  color: #D5D5D5;
}

.icon-plus:hover, .icon-minus:hover{
  color: #FFF;
}

.icon-plus:before, .icon-minus:before{
  padding-right: 1%;
  color: #FFF;
}

/*I'll split these into better places when I have an actual mouse*/
@media (min-width:650px){
  h1{
    margin:auto;
  }
}

@media (min-width: 1000px) {
  h1{
  }
}
