/*Set up a proper grid system here at some point*/
/*Note: this ain't it*/

.grid-6{
  display: inline-block;
  width: 15%;
}

.grid-3{
  display: inline-block;
  width: 30%;
}

.grid-5{
  display: inline-block;
  width: 50%;
}

address{
  font-style:normal;
}

article{
  padding: 1em 0;
  border: 1px solid #7A7A7A;
  border-width: 1px 0;
}

article:first-child, article:last-child{
  border: none;
}

section{
  text-align: center;
}

select{
  margin: 1em;
  background-color: #202020;
}

header div{
  margin: auto;
}
