/*Lists and nav*/

ul{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  padding: 0.5em 0.8em;
}

footer li{
  font-size: .6em;
  float: left;
  padding: .2em;
}

footer li:before{
  content: " | ";
  padding-right: .2em;
}

footer li:first-child:before{
  content: "";
}

.tab-nav{
  cursor: pointer;
}

ul.tab-nav{
  display: none;
}

header nav li a{
  font-size: 1em;
}

.menu-toggle{
  font-size: 2em;
}
/*Project section*/

/*Don't show any sections initially...*/
.tab-section{
  display: none;
}

/*besides the About Me section*/
#about{
  display: block;
}

header a{
  font-size: 1.2em;
}

.info{
  font-size: 0.8em;
  padding: 1em;
  font-style: italic;
  color: #D5D5D5;
}

.template{
  display: none;
}

.description{
  position: relative;
}

.description p:nth-of-type(n+2){
  display: none;
}

.hidden:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 30%, #202020);
}

.view-description{
  cursor: pointer;
  color: #D5D5D5;
  font-size: 0.8em;
}

.view-description:hover{
    color: #595A7F;
}

/*Forms*/
input, textarea{
  background-color: #202020;
  color: #FFF;
}

section form{
  text-align:left;
}

form label{
  padding: .3em .4em;
  display: block;
}

#exported span{
  font-size: .8em;
  font-style: italic;
  color: #D5D5D5;
}

#new #project-preview .view-description{
  display: none;
}

@media (min-width:650px){
  ul.tab-nav{
      display: inline-block;
  }

  .tab-nav li{
    width: 20%;
    float: left;
  }

  .icon-menu3{
    display: none;
  }
}


@media (min-width: 1000px) {
  /*JUST MAKE SLIDY MENU*/
  ul.tab-nav{
    width: 70%;
    margin: 0 auto;
  }

  .tab-nav li{
    width: auto;
  }
}

@media (min-width: 1200px) {
  ul.tab-nav{
    width: 100%;
    margin-left: 1.6;
  }
}
