html{
  font-family: Ariel, sans-serif;
  background-color: black;
}

body{
  width: 50%;
  margin: auto;
  color: white;
  font-size: 1em;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: pink;
}

address{
  font-style:normal;
}

article{
  padding: 1em 0;
  border-top: 1px solid #333;
}

article:first-child{
  border: none;
}

ul{
  display: inline-block;
  list-style: none;
  -webkit-padding-start: 0;
}

li{
  padding: 1em;
}

footer li:before{
  content: " | ";
  padding-right: 1em;
}

footer li:first-child:before{
  content: "";
}

header a{
  font-size: 1.2em;
}

.info{
  font-size: 0.8em;
  padding: 1em;
  font-style: italic;
}

.description{}

@media (min-width: 1000px) {
  li{
    float: left;
  }
}
