/*Lists and nav*/

ul{
  display: inline-block;
  list-style: none;
  -webkit-padding-start: 0;
}

li{
  padding: 1em;
}

footer li{
  font-size: .6em;
  padding: .2em;
}

footer li:before{
  content: " | ";
  padding-right: .2em;
}

footer li:first-child:before{
  content: "";
}

.tab-nav{
  cursor: pointer;
}

ul.tab-nav{
  display: none;
}

.menu-toggle{
  font-size: 2em;
}
/*Project section*/

/*Don't show any sections initially...*/
.tab-section{
  display: none;
}

/*besides the About Me section*/
#about{
  display: block;
}

header a{
  font-size: 1.2em;
}

.info{
  font-size: 0.8em;
  padding: 1em;
  font-style: italic;
  color: #D5D5D5;
}

.template{
  display: none;
}

.description{
  position: relative;
}

.description p:nth-of-type(n+2){
  display: none;
}

.hidden:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 30%, #202020);
}

.view-description{
  cursor: pointer;
  color: #D5D5D5;
  font-size: 0.8em;
}

.view-description:hover{
    color: #595A7F;
}

/*I'll split these into better places when I have an actual mouse*/
@media (min-width:650px){
  h1{
    width: 60%;
    text-align: center;
    margin:auto;
  }

  ul.tab-nav{
      display: inline-block;
  }

  .tab-nav li{
    width: 20%;
    float: left;
  }

  .icon-menu3{
    display: none;
  }
}


@media (min-width: 1000px) {
  h1{
    width: 100%;
    text-align: left;
  }

  ul.tab-nav{
    width: 100%;
  }

  .tab-nav li{
    width: auto;
  }
}
